html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html ::-moz-scrollbar { width: 14px; }
html ::-webkit-scrollbar { width: 14px; }
html ::scrollbar { width: 14px; }
html ::-moz-scrollbar-track { background: #bec3c3; }
html ::-webkit-scrollbar-track { background: #bec3c3; }
html ::scrollbar-track { background: #bec3c3; }
html ::-moz-scrollbar-thumb { background: #bec3c3; }
html ::-webkit-scrollbar-thumb { background: #bec3c3; }
html ::scrollbar-thumb { background: #bec3c3; }
html ::-moz-scrollbar-track-piece { background: #e1e1e1; }
html ::-webkit-scrollbar-track-piece { background: #e1e1e1; }
html ::scrollbar-track-piece { background: #e1e1e1; }

@font-face { font-family: "myriad_prosemibold"; src: url("../fonts/myriadpro-semibold-webfont.eot"); src: url("../fonts/myriadpro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-semibold-webfont.woff") format("woff"), url("../fonts/myriadpro-semibold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { min-width: 1024px; font: normal 12px/1.3 Arial, Tahoma, sans-serif; color: #4c4f5a; background: #e8eaf2; }

.wrapper { overflow: hidden; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.l-container { margin: 0 auto; width: 994px; }

.l-container_big { width: 1024px; }

a { color: #575c6d; text-decoration: none; }

.l-layout { margin: 0 auto -210px; position: relative; min-height: 100%; height: auto !important; height: 100%; }

.push { height: 210px; }

.header__top { padding-top: 21px; *zoom: 1; }
.header__top:after { content: " "; display: table; clear: both; }

.lang { float: left; margin-left: 226px; text-transform: uppercase; }

.lang__text { display: block; position: relative; cursor: pointer; }
.lang__text:after { content: ""; position: absolute; right: -10px; top: 5px; background: url('../img/icons-se87abd5d37.png') 0 -1261px no-repeat; width: 7px; height: 4px; }

.lang__list { display: none; }

.login { float: right; }
.login a { margin-left: 12px; }

.logo { float: left; position: relative; top: -3px; background: url('../img/icons-se87abd5d37.png') 0 -127px no-repeat; width: 226px; height: 103px; }

.header__info { margin-right: 34px; padding-top: 14px; float: right; *zoom: 1; }
.header__info:after { content: " "; display: table; clear: both; }

.header__tel { float: left; position: relative; margin-right: 33px; padding: 16px 29px 22px 0; font-weight: bold; font-size: 32px; color: #62687e; border-right: 2px solid; }
.header__tel:before { content: ""; position: absolute; left: -38px; top: 21px; background: url('../img/icons-se87abd5d37.png') 0 -514px no-repeat; width: 32px; height: 32px; }

.header__link-wrap { float: left; padding-top: 4px; }

.header__link { position: relative; display: block; margin-bottom: 17px; padding-left: 45px; color: #546fae; }
.header__link .icon-basket, .header__link .icon-phones { position: absolute; top: 0; left: 0; }
.header__link span { display: block; font-weight: bold; text-transform: uppercase; }
.header__link:hover .icon-basket { background: url('../img/icons-se87abd5d37.png') 0 -834px no-repeat; width: 27px; height: 20px; }
.header__link:hover .icon-phones { background: url('../img/icons-se87abd5d37.png') 0 -1029px no-repeat; width: 22px; height: 26px; }

.icon-basket { background: url('../img/icons-se87abd5d37.png') 0 -804px no-repeat; width: 27px; height: 20px; }

.icon-phones { background: url('../img/icons-se87abd5d37.png') 0 -993px no-repeat; width: 22px; height: 26px; }

.header__link-counter { position: absolute; left: 8px; top: 2px; width: 16px; text-align: center; color: white; font-style: normal; font-size: 10px; }

.header__nav { margin: 29px auto 0; clear: both; width: 976px; background: #62687e; *zoom: 1; }
.header__nav:after { content: " "; display: table; clear: both; }

.nav { position: relative; float: left; }

.nav__item { float: left; }
.nav__item:hover .nav__link { position: relative; z-index: 2; background: #454b64; }
.nav__item:hover .subnav { display: block; }
.nav__item:first-child .nav__link { border-left: 0; }
.nav__item.is-with-subnav:hover .nav__link { background: white; color: #575c6d; border-color: white; }

.nav__link { display: block; margin-right: -2px; border-left: 2px solid #878c9d; border-right: 2px solid #878c9d; height: 48px; width: 120px; text-align: center; color: #f2f2f2; font-size: 16px; line-height: 48px; }

.subnav { display: none; position: absolute; z-index: 100; left: -8px; right: -8px; padding: 17px 32px 20px; width: 930px; background: white; *zoom: 1; }
.subnav:after { content: " "; display: table; clear: both; }

.subnav__col { float: left; width: 224px; margin-left: 112px; }
.subnav__col:first-child, .subnav__col:nth-child(4n) { margin-left: 0; }

.subnav__title { margin-bottom: 15px; font-size: 16px; font-weight: bold; color: #4c4f5a; }

.subnav__list li { margin-bottom: 9px; }
.subnav__list a { color: #546fae; }

.search { float: left; padding: 8px 8px 0; *zoom: 1; }
.search:after { content: " "; display: table; clear: both; }

.search__input { display: block; float: left; width: 152px; padding: 0 7px; height: 32px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font: normal 12px Arial, sans-serif; background: #ebebeb; border-top: 1px solid #4f4d4e; border-left: 1px solid #89888a; border-bottom: 1px solid #f4f4f4; border-right: 1px solid #f4f4f4; background: #ebebeb url(../img/glass.png) 10px 50% no-repeat; }
.search__input:hover { background: white url(../img/glass.png) 10px 50% no-repeat; }
.search__input:focus { background: white; }

.search__submit { float: left; width: 77px; height: 32px; font-size: 16px; color: white; background: #62687e; }
.search__submit:hover { background: #454b64; }

.page-nav { padding: 0 32px; height: 32px; line-height: 32px; background: #363d55; color: #c7ccdc; }
.page-nav a, .page-nav span { display: inline-block; margin-right: 10px; color: #c7ccdc; }

.footer { position: relative; margin-top: 94px; padding-top: 16px; height: 210px; border-top: 2px solid #d4d7e1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.footer__logos { float: left; padding: 4px 10px 0 0; width: 375px; font-size: 0; }
.footer__logos a { display: inline-block; margin-right: 35px; vertical-align: middle; }
.footer__logos img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.footer__logos img:hover { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }

.foooter__nav { float: left; *zoom: 1; }
.foooter__nav:after { content: " "; display: table; clear: both; }

.footer__col { float: left; width: 187px; margin-right: 15px; }

.footer__title { margin-bottom: 15px; font-size: 16px; font-weight: bold; color: #4c4f5a; }

.footer__list li { margin-bottom: 1px; }
.footer__list a { color: #546fae; }

.l-main { *zoom: 1; margin: 0 auto; width: 992px; background: #f0f0f1; border: 1px solid #dfe1e8; }
.l-main:after { content: " "; display: table; clear: both; }

.l-main_height { padding-bottom: 65px; }

.l-col1 { float: left; width: 223px; }

.l-col2 { float: right; width: 768px; }

.l-col1_right { float: right; }
.l-col1_right .box_small:before { display: none; }

.l-col2_left { float: left; }
.l-col2_left .main { border-left: 0; border-right: 1px solid #e1e2e9; border-top: 1px solid #e1e2e9; }

.l-col { float: left; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.index-wrap { border: 1px solid #dee0e9; background: white; *zoom: 1; }
.index-wrap:after { content: " "; display: table; clear: both; }

.spec-offer { float: left; border-right: 1px solid #e5e7ed; width: 367px; height: 542px; color: black; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #cacfe0)); background-image: -webkit-radial-gradient(center center, 549px 549px, #ffffff 0%, #cacfe0 100%); background-image: -moz-radial-gradient(center center, 549px 549px, #ffffff 0%, #cacfe0 100%); background-image: -o-radial-gradient(center center, 549px 549px, #ffffff 0%, #cacfe0 100%); background-image: radial-gradient(center center, 549px 549px, #ffffff 0%, #cacfe0 100%); }

.spec-offer__top { padding: 32px 32px 10px; }

.spec-offer__title { margin-bottom: -4px; font-size: 30px; }
.spec-offer__title a { color: black; }

.spec-offer__img { position: relative; text-align: center; }
.spec-offer__img img { position: relative; z-index: 2; margin-bottom: 13px; max-width: 175px; max-width: 300px; }

.spec-offer__label { position: absolute; left: 50%; bottom: 57px; margin-left: -165px; background: url('../img/icons-se87abd5d37.png') 0 0 no-repeat; width: 331px; height: 117px; z-index: 3; }

.spec-offer__corner-left, .spec-offer__corner-right { position: absolute; width: 0px; height: 0px; border-style: solid; z-index: 1; }

.spec-offer__corner-left { bottom: 149px; left: 18px; border-width: 0 0 25px 83px; -moz-transform: rotate(-4deg); -o-transform: rotate(-4deg); -webkit-transform: rotate(-4deg); -ms-transform: rotate(-4deg); transform: rotate(-4deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; border-color: transparent transparent #62687e transparent; }

.spec-offer__corner-right { bottom: 70px; right: 19px; -moz-transform: rotate(-20deg); -o-transform: rotate(-20deg); -webkit-transform: rotate(-20deg); -ms-transform: rotate(-20deg); transform: rotate(-20deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; border-width: 25px 0 0 88px; border-color: transparent transparent transparent #62687e; }

.spec-offer__bottom { *zoom: 1; padding: 0 15px 0 22px; }
.spec-offer__bottom:after { content: " "; display: table; clear: both; }
.spec-offer__bottom a { color: #546fae; }
.spec-offer__bottom .spec-offer__price { color: white; }
.spec-offer__bottom .rate { float: left; margin-top: 8px; }

.spec-offer__rate { float: left; margin-top: 4px; width: 120px; }

.spec-offer__price { float: right; padding: 4px 15px 4px 17px; font-size: 24px; text-transform: uppercase; background: #eb6014; }
.spec-offer__price strong { font-size: 32px; }
.spec-offer__price sup { font-size: 20px; position: relative; top: -10px; }

.priority { position: relative; float: left; border: 1px solid #d2d5dd; border-bottom-width: 2px; margin: 15px 0 16px 17px; height: 62px; width: 318px; line-height: 62px; font-size: 16px; background: #f0f0f1; font-family: "myriad_prosemibold", Arial, Tahoma, sans-serif; color: #62687e; }
.priority:first-child { margin-left: 0; }
.priority .icon-shop, .priority .icon-car, .priority .priority__title { display: inline-block; vertical-align: middle; line-height: 1.2; }
.priority .icon-shop { margin: 0 30px; }
.priority .icon-car { margin: 0 28px; }
.priority .icon-free { position: absolute; top: 50%; margin-top: -24px; right: 13px; }

.priority__title span { display: block; font-size: 18px; }

.icon-shop { background: url('../img/icons-se87abd5d37.png') 0 -405px no-repeat; width: 28px; height: 20px; }

.icon-car { background: url('../img/icons-se87abd5d37.png') 0 -277px no-repeat; width: 29px; height: 20px; }

.icon-free { background: url('../img/icons-se87abd5d37.png') 0 -307px no-repeat; width: 100px; height: 48px; }

.spec-offer-items { overflow: hidden; }
.spec-offer-items .item { margin-top: -1px; padding: 18px 16px 25px; border-top: 1px solid #dee0e9; width: 176px; *zoom: 1; }
.spec-offer-items .item:after { content: " "; display: table; clear: both; }
.spec-offer-items .item__top { height: 45px; }
.spec-offer-items .item__title { white-space: nowrap; }
.spec-offer-items .item__img { margin-bottom: 2px; height: 160px; line-height: 160px; }
.spec-offer-items .item__price { float: right; }

.input-wrap { margin-bottom: 16px; }
.input-wrap a { color: #546fae; }

.is-valid-error .input { border-color: #b30a00; }

.is-valid-ok .input { border-color: #70ca00; }

.input { display: block; padding: 0 15px; width: 100%; height: 32px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: left; font: normal 12px Arial, sans-serif; background: white; border: 1px solid #aeaeae; color: #575c6d; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.input:focus { border-color: #666666; }
.input:focus:hover { border-color: #666666; }
.input:hover { border-color: #999999; }

.input_s { width: 64px; }

.tab-wrap { height: 447px; background: #f0f0f1; border: 1px solid #e1e2e9; }
.tab-wrap .tab { border: 0; }

.tab { background: #f0f0f1; height: 47px; border: 1px solid #e1e2e9; *zoom: 1; }
.tab:after { content: " "; display: table; clear: both; }

.tab__item { float: left; height: 47px; line-height: 47px; }

.tab__link, .tab__title { display: block; padding: 0 30px; min-width: 61px; color: #575c6d; font-size: 16px; text-align: center; border-right: 1px solid #e1e2e9; }
.tab__link.is-active, .tab__title.is-active { position: relative; z-index: 2; color: #818181; font-weight: bold; background: white; border-bottom: 1px solid white; }
.tab__link.is-active:hover, .tab__title.is-active:hover { background: white; }

.tab__link:hover { background: #f9f9f9; }
.tab__link:active { background: #e7e7e9; line-height: 50px; }

.tab__title { font-weight: bold; color: black; }

.tab_img .tab__link { padding: 0; width: 63px; text-align: center; }
.tab_img img { vertical-align: middle; }

.box { position: relative; border: 1px solid #e1e2e9; border-top: 0; clear: both; width: 1024px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: -16px; background: white; }
.box:before, .box:after { content: ""; position: absolute; top: -15px; }
.box:before { left: 0; width: 0px; height: 0px; border-style: solid; border-width: 0 0 15px 15px; border-color: transparent transparent #687584 transparent; }
.box:after { right: 0; width: 0px; height: 0px; border-style: solid; border-width: 15px 0 0 15px; border-color: transparent transparent transparent #687584; }
.box .tab { border-width: 0; border-bottom-width: 1px; }

.box__line { position: absolute; left: 14px; right: 14px; bottom: -16px; height: 16px; background: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; }

.item { float: left; padding: 18px 23px 27px 32px; width: 200px; background: white; color: #546fae; }
.item a { color: #546fae; }
.item .item__price { color: #62687e; }

.item__top { height: 50px; overflow: hidden; }

.item__title { max-height: 35px; overflow: hidden; line-height: 1.1; font-size: 16px; font-weight: bold; }

.item__brand { font-weight: normal; }

.item__img { display: block; margin-bottom: 14px; text-align: center; height: 175px; line-height: 175px; overflow: hidden; }
.item__img:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.item__img img { max-width: 100%; height: auto; vertical-align: middle; -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }

.item__price { display: inline-block; position: relative; color: #62687e; }
.item__price:after { content: ""; position: absolute; right: -33px; top: -6px; background: url('../img/icons-se87abd5d37.png') 0 -770px no-repeat; width: 24px; height: 24px; }
.item__price strong { font-size: 16px; }
.item__price.is-no-basket:after { display: none; }
.item__price.is-active:after { background: url('../img/icons-se87abd5d37.png') 0 -887px no-repeat; width: 24px; height: 24px; }

.item__quant { position: absolute; right: -31px; top: 1px; z-index: 2; width: 16px; text-align: center; font-size: 10px; font-style: normal; color: white; }

.price { display: inline-block; position: relative; color: #62687e; }
.price:after { content: ""; position: absolute; right: -33px; top: -6px; background: url('../img/icons-se87abd5d37.png') 0 -770px no-repeat; width: 24px; height: 24px; }
.price strong { font-size: 16px; }
.price.is-no-basket:after { display: none; }
.price.is-active:after { background: url('../img/icons-se87abd5d37.png') 0 -887px no-repeat; width: 24px; height: 24px; }

.price_big { font-size: 24px; }
.price_big strong { font-size: 30px; }

.price__title { display: inline-block; margin-right: 10px; }

.slider .item { height: 258px; }

.pager { margin: 6px 0 24px; font-size: 0; text-align: center; }
.pager button { position: relative; margin-left: 16px; border: 1px solid #63697f; width: 16px; height: 16px; background: white; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.pager button:first-child { margin-left: 0; }
.pager button.is-active:before { content: ""; position: absolute; left: 50%; top: 50%; margin: -4px 0 0 -4px; width: 8px; height: 8px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #63697f; }
.pager button.is-active:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.pager button:hover { -webkit-box-shadow: 0 0 0 6px #63697f; -moz-box-shadow: 0 0 0 6px #63697f; box-shadow: 0 0 0 6px #63697f; }

.page-top { padding: 0 0 0 28px; height: 46px; line-height: 46px; clear: both; background: #f0f0f1; }
.page-top .page-title, .page-top .pagin, .page-top .select { display: inline-block; vertical-align: middle; }
.page-top .page-title { width: 215px; margin-right: 9px; }
.page-top .select { width: 228px; margin-left: 44px; }
.page-top .select_m { margin: 0 8px 0 0; width: 210px; }
.page-top .page-title { margin: 0; width: 193px; }
.page-top .pagin_right { float: right; }
.page-top .print-link { float: right; margin: 17px 25px 0 0; line-height: 1; }
.page-top .page-title_width { width: auto; }

.page-title { color: black; font-size: 16px; }

.pagin { position: relative; z-index: 2; height: 46px; line-height: 46px; color: #818181; font-size: 0; }
.pagin .pagin__title, .pagin a { display: inline-block; vertical-align: middle; }
.pagin a { margin-right: -1px; width: 46px; height: 46px; font-size: 16px; text-align: center; border-left: 1px solid #e1e2e9; border-right: 1px solid #e1e2e9; }
.pagin a:hover { background: #e7e7e9; }
.pagin a.is-active { padding: 0 15px; font-weight: bold; color: #818181; width: auto; background: white; }
.pagin a.is-active span { display: inline-block; margin-right: 5px; }
.pagin span { display: none; }

.pagin__title { margin-right: 15px; font-size: 12px; }

.pagin__more { position: relative; }
.pagin__more:after { content: ""; position: absolute; top: 50%; left: 50%; margin: -6px 0 0 -4px; background: url('../img/icons-se87abd5d37.png') 0 -1275px no-repeat; width: 8px; height: 13px; }

.pagin_bottom { margin-left: 32px; }
.pagin_bottom .is-active { border-top: 1px solid white; margin-top: -1px; }

.select { position: relative; cursor: pointer; font-size: 12px; }
.select.is-active .select__text:after { -moz-transform: rotate(-180deg); -o-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }

.select_white { background: white; }

.select__text { position: relative; display: block; padding: 0 25px 0 11px; height: 30px; line-height: 30px; border: 1px solid #e1e2e9; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.select__text:after { content: ""; position: absolute; right: 15px; top: 50%; margin-top: -2px; background: url('../img/icons-se87abd5d37.png') 0 -1195px no-repeat; width: 9px; height: 6px; -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; -webkit-transition: -webkit-transform 0.1s linear; -moz-transition: -moz-transform 0.1s linear; -o-transition: -o-transform 0.1s linear; transition: transform 0.1s linear; }

.select__list { position: absolute; display: none; left: 0; right: 0; top: 31px; z-index: 100; border: 1px solid #dfe1e8; border-top: 0; background: white; }
.select__list li { padding: 5px 11px; cursor: pointer; line-height: 1; }
.select__list li:hover { background: #717791; color: white; }

.colors-wrap { margin-bottom: 20px; font-size: 0; }

.color { display: inline-block; vertical-align: middle; margin: 0 8px; width: 16px; height: 16px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-width: 3px; border-style: solid; background: white; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.color.is-white { border: 1px solid #575c6d; }
.color.is-black { border-color: black; }
.color.is-black:hover { background: black; }
.color.is-red { border-color: #e03a3a; }
.color.is-red:hover { background: #e03a3a; }
.color.is-yellow { border-color: #fab32b; }
.color.is-yellow:hover { background: #fab32b; }
.color.is-blue { border-color: #56b7fb; }
.color.is-blue:hover { background: #56b7fb; }
.color.is-active { position: relative; margin: 0 8px; width: 28px; height: 28px; }
.color.is-active:after { content: ""; position: absolute; top: 50%; left: 50%; margin: -5px 0 0 -7px; background: url('../img/icons-se87abd5d37.png') 0 -1133px no-repeat; width: 14px; height: 11px; }
.color.is-active.is-white { background: white; }
.color.is-active.is-white:after { background: url('../img/icons-se87abd5d37.png') 0 -1174px no-repeat; width: 14px; height: 11px; }
.color.is-active.is-black { background: black; }
.color.is-active.is-red { background: #e03a3a; }
.color.is-active.is-yellow { background: #fab32b; }
.color.is-active.is-blue { background: #56b7fb; }

.checkbox-wrap { display: block; }

.checkbox { position: relative; display: inline-block; }
.checkbox input { position: absolute; left: 0; top: 0; z-index: 2; opacity: 0; }
.checkbox input:checked + span { color: #546fae; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox input:checked + span:after { content: ""; position: absolute; top: 3px; left: 2px; background: url('../img/icons-se87abd5d37.png') 0 -1154px no-repeat; width: 12px; height: 10px; }
.checkbox input:checked + span:before { background: white; }
.checkbox span { position: relative; padding-left: 28px; left: 0; top: 0; font-size: 12px; color: #575c6d; }
.checkbox span:before { content: ""; position: absolute; left: 0; top: 0; width: 14px; height: 14px; border: 1px solid #e1e2e9; background: #f0f0f1; }

.choose { font-size: 0; }

.choose__plus, .choose__minus { position: relative; width: 16px; height: 16px; background: #4e6aad; display: inline-block; vertical-align: middle; }

.choose__plus:after { content: ""; position: absolute; top: 50%; left: 50%; margin: -4px 0 0 -4px; background: url('../img/icons-se87abd5d37.png') 0 -1322px no-repeat; width: 8px; height: 8px; }

.choose__minus:after { content: ""; position: absolute; top: 50%; left: 50%; margin: -1px 0 0 -4px; background: url('../img/icons-se87abd5d37.png') 0 -667px no-repeat; width: 8px; height: 2px; }

.choose__input { display: inline-block; margin: 0 8px; vertical-align: middle; width: 38px; height: 30px; background: white; font-size: 12px; text-align: center; color: #575c6d; border: 1px solid #aeaeae; }

.item-row { position: relative; padding: 16px 0 16px 10px; border-top: 1px solid #cacdd8; *zoom: 1; }
.item-row:after { content: " "; display: table; clear: both; }
.item-row a { color: #546fae; }
.item-row .close { position: absolute; top: 18px; right: 24px; }
.item-row:first-child { border-top: 0; }

.item-row_action { position: relative; z-index: 2; border-top: 1px dashed #e1e2e9; }

.item-row__img { float: left; width: 155px; margin-right: 10px; text-align: center; }
.item-row__img img { max-width: 100%; height: auto; }

.item-row__main { overflow: hidden; padding: 0 32px 1px 0; *zoom: 1; }
.item-row__main:after { content: " "; display: table; clear: both; }

.item-row__left { float: left; }

.item-row__right { overflow: hidden; text-align: right; color: #515256; }
.item-row__right .price { margin: 5px 0; color: #575c6d; }

.item-row__title { font-size: 16px; }

.item-row__brand { color: #546fae; font-size: 12px; font-weight: normal; }

.item-row__descr { margin: 16px 0; }

.item-row__action .choose, .item-row__action .colors-wrap { float: left; }
.item-row__action .price { float: right; margin-top: 6px; color: #575c6d; }

.item-row_search .price { margin-right: 25px; }

.item-row__id { font-size: 16px; font-weight: bold; }

.close { width: 16px; height: 16px; background: #546fae; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; font-size: 0; }
.close i { display: inline-block; vertical-align: middle; background: url('../img/icons-se87abd5d37.png') 0 -1113px no-repeat; width: 10px; height: 10px; }
.close:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
.close:active { margin-top: 1px; }

.btn { display: inline-block; padding: 18px 50px 14px; font-size: 16px; color: white; line-height: 1; background: #eb6014; font-weight: bold; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.btn:hover { background: #f33a0c; }
.btn:active { position: relative; top: 2px; background: #d70000; }

.rules-text { font-size: 10px; }
.rules-text a { color: #546fae; }

.state { display: inline-block; margin: 5px 0; padding: 6px 0 5px; width: 96px; text-align: center; color: white; font-size: 10px; text-transform: uppercase; }
.state.is-progress { background: #ffc300; }
.state.is-done { background: #70ca00; }
.state.is-canceled { background: #b30a00; }

.filter { padding: 15px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #575c6d; }
.filter:after { display: none; }
.filter .checkbox-wrap { margin-bottom: 8px; }
.filter .select { margin-bottom: 20px; }
.filter .cancel-link { margin-bottom: 14px; }

.filter__item { margin-bottom: 18px; }

.filter__title { position: relative; margin-bottom: 11px; font-size: 16px; font-weight: bold; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.filter__title:after { content: ""; position: absolute; top: 2px; right: 0; background: url('../img/icons-se87abd5d37.png') 0 -1211px no-repeat; width: 16px; height: 16px; }
.filter__title.is-active:after { top: 8px; background: url('../img/icons-se87abd5d37.png') 0 -1340px no-repeat; width: 16px; height: 4px; }

.cancel-link { position: relative; padding-right: 18px; display: inline-block; color: #546fae; }
.cancel-link:after { content: ""; position: absolute; right: 0; top: 4px; background: url('../img/icons-se87abd5d37.png') 0 -1093px no-repeat; width: 10px; height: 10px; }
.cancel-link:hover { color: #363d55; }
.cancel-link:hover:after { top: 0; right: -3px; background: url('../img/icons-se87abd5d37.png') 0 -921px no-repeat; width: 16px; height: 16px; }

.colors-wrap_vertical li { margin-bottom: 8px; }
.colors-wrap_vertical .color { margin: 0 12px 0 0; }
.colors-wrap_vertical .is-active { width: 16px; height: 16px; }
.colors-wrap_vertical a { font-size: 12px; display: inline-block; vertical-align: middle; }

.sidebar .box_small { margin-bottom: 20px; background: #fdfdff; }

.box_small { position: relative; right: -16px; margin-left: 0; padding: 15px 20px 15px 20px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.sidebar__title { margin-bottom: 20px; font-size: 16px; color: #575c6d; font-weight: bold; }

.to-center { text-align: center; }

.sidebar__wrap { padding: 10px 32px; }

.sidebar__item { margin-bottom: 20px; }
.sidebar__item .rules-text span { display: block; font-size: 20px; }

.payment { font-size: 0; }
.payment li { display: inline-block; vertical-align: middle; margin: 20px 8px 0 0; width: 40px; }
.payment span { display: block; }

.payment__mc { background: url('../img/icons-se87abd5d37.png') 0 -240px no-repeat; width: 41px; height: 27px; }

.payment__visa { background: url('../img/icons-se87abd5d37.png') 0 -477px no-repeat; width: 41px; height: 27px; }

.payment__visa-d { background: url('../img/icons-se87abd5d37.png') 0 -699px no-repeat; width: 41px; height: 27px; }

.payment__wm { background: url('../img/icons-se87abd5d37.png') 0 -365px no-repeat; width: 32px; height: 30px; }

.payment__ym { background: url('../img/icons-se87abd5d37.png') 0 -435px no-repeat; width: 32px; height: 32px; }

.payment__qiwi { background: url('../img/icons-se87abd5d37.png') 0 -556px no-repeat; width: 33px; height: 33px; }

.box_small .online-pay .price { margin: 0; }
.box_small .payment { padding-bottom: 42px; }
.box_small .payment li { margin-top: 0; }
.box_small .form .btn { margin: 10px 0 0; padding: 18px 0 14px; width: 100%; }

.online-pay { margin: 13px 0 24px; padding: 0 7px; *zoom: 1; }
.online-pay:after { content: " "; display: table; clear: both; }
.online-pay .price { float: right; }

.online-pay__label { float: left; }

.main { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; background: white; border-left: 1px solid #e1e2e9; border-bottom: 1px solid #e1e2e9; }
.main:after { content: " "; display: table; clear: both; }

.item_catalog { margin: -1px -1px 0 0; padding: 18px 24px 25px 32px; border-top: 1px solid #dfe1e8; }
.item_catalog .item__top { height: 64px; }
.item_catalog .item__img { margin-bottom: 5px; height: 300px; line-height: 300px; }
.item_catalog .item__brand { margin-bottom: 10px; }
.item_catalog .item__price { margin-left: 26px; }
.item_catalog .checkbox-wrap { margin-top: 17px; }

.contract { padding: 19px 0 23px; border-bottom: 1px solid #e1e2e9; }
.contract:last-child { border-bottom: 0; }
.contract a { color: #546fae; }

.contract__title { line-height: 1; font-size: 16px; }

.contract__wrap { padding: 0 32px; }

.contract__brand { color: #546fae; font-size: 12px; }

.contract__img { display: block; margin-top: 13px; }
.contract__img img { display: block; margin: 0 auto; }

.contract__descr { padding: 17px 32px 0; font-size: 12px; }
.contract__descr p { margin-bottom: 19px; }

.contract__action { *zoom: 1; }
.contract__action:after { content: " "; display: table; clear: both; }
.contract__action .price { margin-right: 32px; float: right; color: black; }

.print-link { position: relative; padding-right: 26px; font-size: 8px; text-transform: uppercase; color: #62687e; }
.print-link:after { content: ""; position: absolute; right: 0; top: -5px; background: url('../img/icons-se87abd5d37.png') 0 -1065px no-repeat; width: 15px; height: 18px; }

.box_small .sidebar__title { margin-left: 7px; }
.box_small .price { margin: 13px 0 15px; }
.box_small .btn { margin-bottom: 20px; }

.basket-item { position: relative; padding: 20px 60px 36px 31px; border-top: 1px solid #e1e2e9; }
.basket-item:nth-child(2) { border-top: 0; }
.basket-item .price { position: absolute; right: 16px; bottom: 10px; margin: 0; }
.basket-item .price_static { position: static; }
.basket-item .price_static span { display: inline-block; margin-right: 20px; }

.basket-item_summa { padding: 13px 16px; text-align: right; }

.basket-item_action { border-top-style: dashed; }

.box_no-padding { padding: 15px 0 0; }
.box_no-padding .sidebar__title { margin: 0 0 0 31px; }

.steps-wrap { position: relative; margin: 0 32px; padding: 18px 0 29px; overflow: hidden; }

.steps-list { position: relative; text-align: justify; }
.steps-list:after { content: ""; display: inline-block; width: 100%; height: 0; }

.step { position: relative; display: inline-block; vertical-align: middle; height: 16px; }
.step:after { content: ""; position: absolute; left: 50%; top: 21px; margin-left: -2px; width: 4px; height: 6px; background: #d7d7d7; }
.step.is-active:after { background: #eb6014; }
.step.is-active:before { content: ""; position: absolute; left: -1000px; top: 25px; margin-right: -2px; z-index: 2; right: 50%; height: 4px; background: #eb6014; }
.step.is-current { font-weight: bold; }

.step_last.is-active:before { right: 0; margin-right: 0; }

.steps__line { position: absolute; bottom: 31px; right: 0; left: 0; height: 4px; background: #d7d7d7; }

.accord { padding: 0 32px; }

.accord__title { margin-bottom: 10px; padding: 15px; border: 1px solid #829192; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-box-shadow: -2px 2px 0 #dbdbdb; -moz-box-shadow: -2px 2px 0 #dbdbdb; box-shadow: -2px 2px 0 #dbdbdb; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.accord__title strong { font-size: 16px; }
.accord__title.is-active { border-color: transparent; -webkit-box-shadow: -2px 2px 0 transparent; -moz-box-shadow: -2px 2px 0 transparent; box-shadow: -2px 2px 0 transparent; }
.accord__title:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.accord__main { padding: 0 15px; }

.field { margin-bottom: 16px; }
.field .btn { padding: 18px 25px 14px; }
.field a { color: #546fae; }

.field__main, .field__text { display: inline-block; vertical-align: middle; }

.field__main { width: 256px; min-height: 1px; }

.field__text { padding-left: 12px; width: 185px; }

.main_steps { padding-bottom: 22px; }

.payment-wrap { padding: 0 32px; font-size: 0; }

.pay { display: inline-block; margin: 0 0 33px 63px; border: 1px solid #829192; width: 126px; height: 126px; line-height: 126px; text-align: center; -webkit-box-shadow: -2px 2px 0 #dbdbdb; -moz-box-shadow: -2px 2px 0 #dbdbdb; box-shadow: -2px 2px 0 #dbdbdb; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.pay:first-child, .pay:nth-child(5n) { margin-left: 0; }
.pay:hover { -webkit-box-shadow: -2px 2px 0 transparent; -moz-box-shadow: -2px 2px 0 transparent; box-shadow: -2px 2px 0 transparent; }
.pay img { vertical-align: middle; }

.order-info { margin-bottom: 18px; padding: 0 32px; }
.order-info .state { margin-top: 15px; }

.order-info__title { font-size: 16px; font-weight: bold; }

.breadcrumbs a, .breadcrumbs span { position: relative; margin-right: 21px; }
.breadcrumbs a:before, .breadcrumbs span:before { content: ""; position: absolute; left: 0; top: 50%; left: -15px; margin-top: -3px; background: url('../img/icons-se87abd5d37.png') 0 -635px no-repeat; width: 4px; height: 7px; }
.breadcrumbs a:first-child:before, .breadcrumbs span:first-child:before { display: none; }

.article { padding: 32px; *zoom: 1; }
.article:after { content: " "; display: table; clear: both; }
.article p { margin-bottom: 17px; }
.article img { float: right; margin-left: 100px; }

.article__title { font-size: 16px; color: black; font-weight: bold; }

.article__brand { display: block; margin-bottom: 20px; }

.product { position: relative; border: 1px solid #e1e2e9; padding: 38px 32px 128px; *zoom: 1; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #cacfe0)); background-image: -webkit-radial-gradient(center center, 549px 549px, #ffffff 0%, #cacfe0 100%); background-image: -moz-radial-gradient(center center, 549px 549px, #ffffff 0%, #cacfe0 100%); background-image: -o-radial-gradient(center center, 549px 549px, #ffffff 0%, #cacfe0 100%); background-image: radial-gradient(center center, 549px 549px, #ffffff 0%, #cacfe0 100%); }
.product:after { content: " "; display: table; clear: both; }
.product a { color: #546fae; }
.product .rate { margin: 6px 0 23px; }
.product .print-link { display: inline-block; margin-bottom: 15px; }
.product .box_left { position: relative; left: -32px; }
.product .box_right { margin: 48px 0 0; }
.product .tab-cont { padding: 17px 32px 30px; }
.product .wrap { clear: both; }

.product__info { line-height: 1.4; }

.product__add-info { padding-left: 145px; }
.product__add-info .banner img { display: block; }

.product__title { color: black; font-size: 30px; font-weight: bold; line-height: 1; }

.product__brand { display: block; margin-bottom: 15px; color: black; }

.to-right { text-align: right; }

.box_left:after { display: none; }

.box_right:before { display: none; }

.box_half { width: 512px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.tab-cont__title { font-weight: bold; font-size: 16px; }

.prod-var { margin: 12px 0; }
.prod-var .price { padding: 6px 42px 6px 10px; }
.prod-var .price:after { top: 50%; margin-top: -13px; right: 10px; }
.prod-var .is-active .price { color: white; background: #eb6014; }
.prod-var .is-active .price:after { background: url('../img/icons-se87abd5d37.png') 0 -736px no-repeat; width: 24px; height: 24px; }
.prod-var .price__quant { position: absolute; top: 10px; right: 12px; width: 16px; text-align: center; color: white; font-size: 10px; font-style: normal; }

.product__bottom { position: absolute; bottom: 0; left: 0; right: 0; height: 128px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 45px 32px 0; *zoom: 1; }
.product__bottom:after { content: " "; display: table; clear: both; }
.product__bottom .colors-wrap { float: left; position: relative; z-index: 2; }
.product__bottom .checkbox { position: relative; z-index: 2; margin: 36px 43px 0 0; float: right; }
.product__bottom .nav { float: none; display: inline-block; background: #62687e; }
.product__bottom .nav__link { width: 103px; color: white; }
.product__bottom .to-center { position: absolute; bottom: -1px; left: 0; right: 0; clear: both; text-align: center; font-size: 0; }

.colors-wrap__title { margin-bottom: 13px; font-size: 8px; text-transform: uppercase; }

.product__gallery { position: absolute; bottom: 63px; z-index: 2; left: 0; right: 0; height: 80px; text-align: center; }

.product__img { width: 60px; }

.product__img-big, .product__img { vertical-align: top; display: inline-block; text-align: center; }

.product__img-big { position: relative; width: 270px; height: 80px; text-align: center; }
.product__img-big div { position: absolute; left: 0; right: 0; bottom: 14px; }

.sibebar-nav { padding: 0 32px; }
.sibebar-nav a { color: #62687e; }

.item_compare { position: relative; padding-bottom: 0; }
.item_compare:hover .close { display: block; }
.item_compare .close { display: none; position: absolute; top: 19px; right: 10px; }
.item_compare .item__img { line-height: 1; height: auto; margin-bottom: 0; }

.compare { padding: 18px 0; border-top: 1px solid #e1e2e9; }
.compare:first-child { border-top: 0; }

.compare__title { position: relative; padding: 0 32px; font-size: 16px; font-weight: bold; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.compare__title:after { content: ""; position: absolute; top: 2px; right: 17px; background: url('../img/icons-se87abd5d37.png') 0 -1211px no-repeat; width: 16px; height: 16px; }
.compare__title.is-active:after { top: 8px; background: url('../img/icons-se87abd5d37.png') 0 -1340px no-repeat; width: 16px; height: 4px; }

.compare__item { padding: 6px 32px; font-size: 0; *zoom: 1; }
.compare__item:after { content: " "; display: table; clear: both; }
.compare__item:hover { background: #ebf9fa; }

.compare__main { padding-top: 10px; }

.compare__col { display: inline-block; width: 25%; font-size: 12px; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.compare__col .price { margin-right: 50px; }
.compare__col .colors-wrap { margin-bottom: 0; }

.icon-not { display: inline-block; background: url('../img/icons-se87abd5d37.png') 0 -679px no-repeat; width: 10px; height: 10px; }

.icon-yes { display: inline-block; background: url('../img/icons-se87abd5d37.png') 0 -599px no-repeat; width: 14px; height: 11px; }

.item__img-empty { display: block; margin: 0 auto; width: 140px; height: 78px; background: #edf0f7; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -ms-border-radius: 10px 10px 0 0; -o-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; border: 2px dashed #e1e2e9; border-bottom: 0; }
.item__img-empty span { display: block; width: 108px; height: 64px; margin: 13px auto 0; border: 1px solid #e1e2e9; }

.ui-slider-wrap { padding-bottom: 29px; }

.ui-widget-content { position: relative; height: 4px; background: #cacdd8; }

.ui-slider-handle { position: absolute; z-index: 2; top: 50%; margin-top: -16px; width: 18px; height: 32px; background: #62687e; }
.ui-slider-handle:after { content: ""; position: absolute; top: 50%; margin-top: -7px; }
.ui-slider-handle:before { content: ""; position: absolute; top: 0; }
.ui-slider-handle.is-from { margin-left: 0; }
.ui-slider-handle.is-from:before { right: -14px; width: 0px; height: 0px; border-style: solid; border-width: 16px 0 16px 14px; border-color: transparent transparent transparent #62687e; }
.ui-slider-handle.is-from:after { left: 15px; background: url('../img/icons-se87abd5d37.png') 0 -1237px no-repeat; width: 8px; height: 14px; }
.ui-slider-handle.is-to { margin-left: -18px; }
.ui-slider-handle.is-to:before { left: -14px; width: 0px; height: 0px; border-style: solid; border-width: 16px 14px 16px 0; border-color: transparent #62687e transparent transparent; }
.ui-slider-handle.is-to:after { right: 15px; background: url('../img/icons-se87abd5d37.png') 0 -1298px no-repeat; width: 8px; height: 14px; }

.ui-slider-range { position: absolute; z-index: 1; top: 0; height: 4px; background: #62687e; }

.ui-slider__top { padding-left: 22px; margin-bottom: 25px; font-weight: bold; }
.ui-slider__top span, .ui-slider__top strong { display: inline-block; vertical-align: middle; }
.ui-slider__top strong { font-size: 16px; }
