.input-wrap
	margin-bottom: 16px
	&.is-valid-error
		.input
			border-color: #b30a00
	&.is-valid-ok
		.input
			border-color: #70ca00
	a
		color: $blue 
.input
	display: block
	padding: 0 15px 
	width: 100%
	height: 32px
	+box
	text-align: left
	font: normal 12px Arial,sans-serif
	background: #fff 
	border: 1px solid #aeaeae
	color: $violet 
	//+transition(all .1s linear)  
	&:focus
		border-color: #666  
		&:hover
			border-color: #666 
	&:hover
		border-color: #999  
.tab-wrap
	height: 447px
	background: #f0f0f1 	
	border: 1px solid #e1e2e9	
	.tab
		border: 0
.tab
	background: #f0f0f1
	border: 1px solid #e1e2e9
	+clr
.tab__item
	float: left
	height: 47px
	line-height: 47px
.tab__link,
.tab__title
	display: block
	padding: 0 30px 
	min-width: 61px
	color: $violet 
	font-size: 16px
	text-align: center
	border-right: 1px solid #e1e2e9
	&.is-active
		position: relative
		z-index: 2
		background: #fff
		border-bottom: 1px solid #fff
.tab__title
	font-weight: bold
	color: #000
.box
	position: relative
	border: 1px solid $border
	clear: both
	width: 1024px
	+box
	margin-left: -16px
	background: #fff
	&:before,
	&:after
		content: ""
		position: absolute
		top: -15px
	&:before
		left: 0
		+arr(15,15,#687584,br)
	&:after
		right: 0
		+arr(15,15,#687584,bl)
.box__line
	position: absolute
	left: 14px
	right: 14px
	bottom: -16px
	height: 16px
	background: #000
	+opacity(.1) 
	 
.item
	float: left
	padding: 18px 23px 27px 32px
	width: 200px
	background: #fff 
	color: $blue
	a
		color: $blue 
	.item__price
		color: #62687e
.item__top
	height: 50px
	overflow: hidden
.item__title
	max-height: 35px
	overflow: hidden
	line-height: 1.1
	font-size: 16px
	font-weight: bold
.item__brand
	font-weight: normal 
.item__img
	display: block
	margin-bottom: 14px
	text-align: center
	height: 175px
	line-height: 175px
	overflow: hidden
	&:hover
		img
			+opacity(.8)
	img
		max-width: 100%
		height: auto
		vertical-align: middle
		+transition(opacity .2s linear)
.item__price
	display: inline-block
	position: relative
	color: #62687e
	&:after
		content: ""
		position: absolute
		right: -33px
		top: -6px
		+s(to-basket) 
	strong
		font-size: 16px
	&.is-no-basket
		&:after
			display: none	
	&.is-active
		&:after
			+s(to-basket-h)
.item__quant
	position: absolute
	right: -31px
	top: 1px
	z-index: 2
	width: 16px
	text-align: center
	font-size: 10px
	font-style: normal
	color: #fff 

.price
	display: inline-block
	position: relative
	color: #62687e
	&:after
		content: ""
		position: absolute
		right: -33px
		top: -6px
		+s(to-basket) 
	strong
		font-size: 16px
	&.is-no-basket
		&:after
			display: none	
	&.is-active
		&:after
			+s(to-basket-h)
.price_big
	font-size: 24px
	strong
		font-size: 30px 
.price__title
	display: inline-block
	margin-right: 10px

.slider
	.item
		height: 258px

.pager
	margin: 6px 0 24px
	font-size: 0
	text-align: center
	button
		position: relative 
		margin-left: 16px
		border: 1px solid $violet_dark
		width: 16px
		height: 16px
		background: #fff 
		+border-radius(50%)
		&:first-child
			margin-left: 0
		&.is-active
			&:before
				content: ""
				position: absolute
				left: 50%
				top: 50%
				margin: -4px 0 0 -4px
				width: 8px
				height: 8px  
				+border-radius(50%) 
				background: $violet_dark
			&:hover
				+box-shadow(none)
		&:hover
			+box-shadow(0 0 0 6px $violet_dark)
.page-top
	padding: 0 0 0 28px
	height: 46px
	line-height: 46px
	clear: both
	background: #f0f0f1  
	.page-title,
	.pagin,
	.select
		display: inline-block
		vertical-align: middle
	.page-title
		width: 215px
		margin-right: 9px
	.select
		width: 228px
		margin-left: 44px
	.select_m
		margin: 0 8px 0 0 
		width: 210px
	.page-title
		margin: 0
		width: 193px
	.pagin_right
		float: right
	.print-link
		float: right
		margin: 17px 25px 0 0
		line-height: 1
	.page-title_width
		width: auto
.page-title
	color: #000
	font-size: 16px 
.pagin
	height: 46px
	line-height: 46px
	color: #818181
	font-size: 0
	.pagin__title, a
		display: inline-block
		vertical-align: middle
	a
		margin-right: -1px
		width: 46px
		height: 46px
		font-size: 16px
		text-align: center
		border-left: 1px solid $border
		border-right: 1px solid $border
		&:hover
			background: #e7e7e9 
		&.is-active
			padding: 0 15px
			font-weight: bold
			color: #818181
			width: auto
			background: #fff 
			span
				display: inline-block
				margin-right: 5px
	span
		display: none
.pagin__title
	margin-right: 15px
	font-size: 12px
.pagin__more
	position: relative
	&:after
		content: ""
		position: absolute
		top: 50%
		left: 50%
		margin: -6px 0 0 -4px
		+s(arr1)

.pagin_bottom
	margin-left: 32px
	.is-active
		border-top: 1px solid #fff
		margin-top: -1px 
.select
	position: relative
	cursor: pointer
	font-size: 12px
	&.is-active
		.select__text
			&:after
				+rotate(-180)
.select_white
	background: #fff 
.select__text
	position: relative
	display: block
	padding: 0 25px 0 11px 
	height: 30px
	line-height: 30px
	border: 1px solid $border
	+unselectable
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	&:after
		content: ""
		position: absolute
		right: 15px
		top: 50%
		margin-top: -2px
		+s(arr2)
		+rotate(0)
		+transition(transform .1s linear)
.select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 31px
	z-index: 100
	border: 1px solid #dfe1e8
	border-top: 0 
	background: #fff
	li
		padding: 5px 11px 
		cursor: pointer
		line-height: 1
		&:hover
			background: #717791
			color: #fff 
	
.colors-wrap
	margin-bottom: 20px
	font-size: 0	
.color
	display: inline-block
	vertical-align: middle
	margin: 0 8px
	width: 16px
	height: 16px
	+box
	border-width: 3px
	border-style: solid 
	background: #fff 
	+border-radius(50%)
	&.is-white
		border: 1px solid $violet
	&.is-black
		border-color: #000
		&:hover
			background: #000
	&.is-red
		border-color: #e03a3a
		&:hover
			background: #e03a3a
	&.is-yellow
		border-color: #fab32b
		&:hover
			background: #fab32b
	&.is-blue
		border-color: #56b7fb
		&:hover
			background: #56b7fb
	&.is-active
		position: relative
		margin: 0 8px 
		width: 28px
		height: 28px
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -5px 0 0 -7px
			+s(arr3)
		&.is-white
			background: #fff 
		&.is-black
			background: #000
		&.is-red
			background: #e03a3a
		&.is-yellow
			background: #fab32b
		&.is-blue
			background: #56b7fb
			
.checkbox-wrap
	display: block
.checkbox
	position: relative
	display: inline-block
	input
		position: absolute
		left: 0
		top: 0
		z-index: 2
		opacity: 0
		&:checked
			+ span
				color: $blue 
				+unselectable
				&:after
					content: ""
					position: absolute
					top: 3px
					left: 2px
					+s(check)
				&:before
					background: #fff 
	span
		position: relative
		padding-left: 28px
		left: 0
		top: 0
		font-size: 12px
		color: $violet 
		&:before
			content: ""
			position: absolute 
			left: 0
			top: 0
			width: 14px
			height: 14px
			border: 1px solid $border
			background: #f0f0f1
			
.choose
	font-size: 0
.choose__plus,
.choose__minus
	position: relative
	width: 16px
	height: 16px
	background: #4e6aad 
	display: inline-block
	vertical-align: middle
.choose__plus
	&:after
		content: ""
		position: absolute
		top: 50%
		left: 50%
		margin: -4px 0 0 -4px 
		+s(plus-s)
.choose__minus
	&:after
		content: ""
		position: absolute
		top: 50%
		left: 50%
		margin: -1px 0 0 -4px 
		+s(minus-s)
.choose__input
	display: inline-block
	margin: 0 8px 
	vertical-align: middle
	width: 38px
	height: 30px
	background: #fff
	font-size: 12px
	text-align: center
	color: $violet 
	border: 1px solid #aeaeae 
	
.item-row
	position: relative
	padding: 16px 0 16px 10px 
	border-top: 1px solid #cacdd8 
	+clr
	a
		color: $blue 
	.close
		position: absolute
		top: 18px
		right: 24px
	&:first-child
		border-top: 0
.item-row_action
	position: relative
	z-index: 2
	border-top: 1px dashed $border 
.item-row__img
	float: left
	width: 155px
	margin-right: 10px
	text-align: center 
	img
		max-width: 100%
		height: auto
.item-row__main
	overflow: hidden
	padding: 0 32px 1px 0
	+clr
.item-row__left
	float: left
.item-row__right
	overflow: hidden
	text-align: right
	color: #515256 
	.price
		margin: 5px 0 
		color: $violet 
.item-row__title
	font-size: 16px 
.item-row__brand
	color: $blue
	font-size: 12px
	font-weight: normal  
.item-row__descr
	margin: 16px 0
.item-row__action
	.choose,
	.colors-wrap
		float: left
	.price
		float: right
		margin-top: 6px
		color: $violet 
.item-row_search
	.price
		margin-right: 25px
.item-row__id
	font-size: 16px
	font-weight: bold
	
.close
	width: 16px
	height: 16px
	background: $blue
	+border-radius(50%) 
	font-size: 0
	i
		display: inline-block
		vertical-align: middle
		+s(close)
	&:hover
		+opacity(.9)
	&:active 
		margin-top: 1px
		
.btn
	display: inline-block
	padding: 18px 50px 14px
	font-size: 16px
	color: #fff
	line-height: 1
	background: #eb6014 
	font-weight: bold 
	+box
	+transition(background .2s linear)
	&:hover
		background: #f33a0c 
	&:active
		position: relative
		top: 2px
		background: #d70000 

.rules-text
	font-size: 10px
	a
		color: $blue 
		
.state
	display: inline-block
	margin: 5px 0 
	padding: 6px 0 5px 
	width: 96px
	text-align: center
	color: #fff
	font-size: 10px
	text-transform: uppercase
	&.is-progress
		background: #ffc300 
	&.is-done
		background: #70ca00
	&.is-canceled
		background: #b30a00 
	