.overlay
    display: none
    position: fixed
    z-index: 10000
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: #000
    +opacity(.3)  
.popup
    display: none
    position: fixed 
    z-index: 20000
    height: 544px
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding: 18px 32px   
    margin: auto 
    width: 940px
    background: #fff
    +box
    +box-shadow(-16px 16px 0 rgba(0,0,0,.2))
    .close
        position: absolute
        top: 20px
        right: 32px
.popup_view
    width: 592px
    .item
        padding: 0
        width: 100%
    .item__img
        width: 100%
        height: 435px
        line-height: 435px
        &:hover
            img
                +opacity(1)
    .item__top
        height: auto
    .colors-wrap
        float: left
        margin-bottom: 0
    .zoom
        float: right
.zoom
    position: relative
    height: 28px
    overflow: hidden
    width: 176px
    overflow: hidden
.zoom__line
    position: absolute
    top: 50%
    left: 0
    right: 0
    margin-top: -2px
    height: 4px
    background: #cacdd8 
.zoom__key
    position: absolute
    top: 50%
    margin: -14px 0 0 -14px
    width: 24px
    height: 24px
    border: 2px solid #62687e 
    background: #fff 
    +border-radius(50%)
    cursor: pointer
    &:after
        content: "" 
        position: absolute
        top: 50%
        left: 50%
        margin: -5px 0 0 -7px
        +s(zoom) 
    &:before
        content: ""
        position: absolute
        top: 50%
        left: -200px
        right: 0
        margin-top: -2px
        width: 200px
        height: 4px
        background: #62687e
.zoom_glass
    .zoom__key    
        &:after
            margin: -6px 0 0 -7px 
            +s(zoom-glass)   

.popup_media
    width: 864px
.popup__title
    font-size: 16px
    font-weight: bold
    color: $blue 
.popup__brand
    color: $blue 
.popup__main-title
    color: #000
    font-size: 16px
    font-weight: bold 
.gallery
    +clr
.gallery__left
    float: left
    margin-right: 28px  
    .colors-wrap
        float: left
        margin-bottom: 0
    .zoom
        float: right
.gallery__img   
    margin: 12px 0
    width: 528px
    height: 416px
    text-align: center
    line-height: 416px
    img
        vertical-align: middle
        max-width: 100%
        height: auto
.gallery__right
    overflow: hidden
.gallery__slide
    font-size: 0
    +clr
    a
        float: left
        margin: 0 0 8px 8px
        width: 112px
        height: 129px
        text-align: center
        line-height: 129px
        border: 2px solid transparent
        img
            vertical-align: middle
            max-width: 100%
            height: auto
        &:first-child
            margin-left: 0
        &.is-active
            border-color: $violet
.gallery__slider
    margin-bottom: 14px
    margin-top: 10px
.gallery__slide-width
    a
        position: relative
        width: 240px
        margin: 0 0 8px 0 
        .btn-play
            position: absolute
            top: 50%
            left: 50%
            margin: -28px 0 0 -28px 
.btn-play
    position: relative
    display: inline-block
    width: 56px
    height: 56px
    +border-radius(50%)
    background: rgba(0,0,0,.8) 
    &:after
        content: ""
        position: absolute
        top: 50%
        left: 21px
        margin: -16px 0 0 
        +s(play) 
    &.is-pause
        background: #d2d2d2 
        &:after
            +s(pause) 

.popup_steps
    border: 1px solid $border
    width: 512px
    height: 448px
    .steps-wrap
        margin: 0
    .field__main
        width: 208px
    .payment-wrap
        padding: 0
    .pay
        margin: 0 0 17px 31px
        &:first-child, 
        &:nth-child(4n)
            margin-left: 0
    .order-info
        padding: 0
        .btn_right
            float: right
            margin-top: 15px
    .accord
        padding: 0
    .print-link
        top: -15px
.popup_auto-height
    top: 100px
    bottom: auto
    height: auto
    
.popup_descr
    padding-right: 20px
    width: 520px
    height: 470px
    +clr
    .item
        border: 0
        margin-right: 35px
        padding: 0
        width: 190px
    .item__top
        height: auto
    .prod-var
        margin-top: -3px
    .item__img
        margin-bottom: 10px
    .colors-wrap
        margin: 0 16px 0 10px
.popup__prod-descr
    padding-top: 50px
    overflow: hidden   
    
.param-img
    margin: 9px 0
    li
        display: inline-block
        margin: 0 12px 0 0 
        vertical-align: middle
.popup__prod-info
    line-height: 1.4
    a
        color: $blue 